<section class="container-fluid">
  <div class="container_update  newlistiner_section">
    <div class="row subscribe p-5">
      <div class="col-lg-6 d-none d-lg-block">
        <div class="newlistener_title">
          Ready to take a test drive?
        </div>
        <div class="newlistiner_subtitle">
          We`ll help you elevate strategy. Prices starting from $49 a month.
          <a href="">
            See pricing
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-12 px-5">
        <div class="newlistiner_form_email">
          <form  class="form">
            <div  class="input-group">
              <input type="text" placeholder="Enter work email" class="form-control rounded">
              <div  class="input-group-append">
                <button type="submit" class="btn btn_newlistener">
                  Try it Free
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
