<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="titles">
        Upcoming Events
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/285x285?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12">
                  <div class="">
                    <div class="widget_content">
                      <div class="category_webinar">
                        Webinar
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="">
                    <div class="widget_content_title">
                      The Basic: Distributing Your Videos Across Different Channels
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_read_toggle">
                    <a href="#">
                      Watch Webinar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg mt-lg-0 mt-4">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/285x285?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12">
                  <div class="">
                    <div class="widget_content">
                      <div class="category_webinar">
                        Webinar
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="">
                    <div class="widget_content_title">
                      The Basic: Distributing Your Video Maeketing Strategy
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_read_toggle">
                    <a href="#">
                      Watch Webinar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg mt-lg-0 mt-4">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/285x285?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12">
                  <div class="">
                    <div class="widget_content">
                      <div class="category_webinar">
                        Webinar
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="">
                    <div class="widget_content_title">
                      The Basic: Distributing Your Video Maeketing Strategy
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_read_toggle">
                    <a href="#">
                      Watch Webinar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
