  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="widget_photo widget_margin">
          <img src="https://via.placeholder.com/285x285?text=Text" width="100%" alt="">
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-12">
            <div class="">
              <div class="widget_content">
                <div class="category_blog">
                  {{category}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="">
              <div class="widget_content_title">
                {{title}}
              </div>
            </div>
          </div>
          <div class="col-12 align-self-end">
            <div class="widget_read_toggle">
              <a href="#">
                {{btnText}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
