<section class="container">
  <div class="row">
    <div class="col-12">
      <div class="titles">
          New Blog Posts
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/285x285?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12">
                  <div class="">
                    <div class="widget_content">
                      <div class="category_blog">
                        Blog Post
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="">
                    <div class="widget_content_title">
                      4 organic ways to improve your website KPIs
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_read_toggle">
                    <a href="#">
                      Read Report
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-3 mt-lg-0">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/285x285?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12">
                  <div class="">
                    <div class="widget_content">
                      <div class="category_blog">
                        Blog Post
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="">
                    <div class="widget_content_title">
                      How to turn your next event into a video content goldmine
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_read_toggle">
                    <a href="#">
                      Read Report
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-3 mt-lg-0">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/285x285?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-12">
                  <div class="">
                    <div class="widget_content">
                      <div class="category_blog">
                        Blog Post
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="">
                    <div class="widget_content_title">
                      How to quickly turn ypur podcast into a video script
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_read_toggle">
                    <a href="#">
                      Read Report
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
