<div class="container">
  <div class="row news">
    <div class="col-lg-7 col-12">
      <div class="main_img">
        <img src="../../assets/img/news/news_main_photo.jpg"/></div>
      <div>
        <div class="category_blog">
          Blog Post
        </div>
        <div class="news_section_title_block">
          How to opimize your Facebook & Instagram video ads for succes
        </div>
        <div class="news_section_subtitle_block">
          Instagram and Facebook video ads qre extremely popular among marketers these days. Not only are they more
          engaging and entertaining, they`re loved by many...
        </div>
        <div class="text-center text-lg-left">
          <button class="btn btn-primary new_section_btn">
            Read Story
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-12 mt-lg-0 mt-5">
      <aside class="news_right_widget">
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-6">
                <div class="widget_photo">
                  <img src="https://via.placeholder.com/201x180?text=Text" alt="">
                </div>
              </div>
              <div class="col">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="d-flex align-items-start">
                      <div class="widget_content">
                        <div class="category_report">
                          Report
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex align-items-center">
                      <div class="widget_content_title">
                        Explore Intagram Video: How to convert, engage, and get more Intagra...
                      </div>
                    </div>
                  </div>
                  <div class="col-12 align-self-end">
                    <div class="widget_read_toggle">
                      <a href="#">
                        Read Report
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="row">
              <div class="col-6">
                <div class="widget_photo">
                  <img src="https://via.placeholder.com/201x180?text=Text" alt="">
                </div>
              </div>
              <div class="col">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="d-flex align-items-start">
                      <div class="widget_content">
                        <div class="category_blog">
                          Blog Post
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex align-items-center">
                      <div class="widget_content_title">
                        Explore Intagram Video: How to convert, engage, and get more Intagra...
                      </div>
                    </div>
                  </div>
                  <div class="col-12 align-self-end">
                    <div class="widget_read_toggle">
                      <a href="#">
                        Read Report
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="row">
              <div class="col-6">
                <div class="widget_photo">
                  <img src="https://via.placeholder.com/201x180?text=Text" alt="">
                </div>
              </div>
              <div class="col">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="d-flex align-items-start">
                      <div class="widget_content">
                        <div class="category_webinar">
                          Webinar
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex align-items-center">
                      <div class="widget_content_title">
                        Explore Intagram Video: How to convert, engage, and get more Intagra...
                      </div>
                    </div>
                  </div>
                  <div class="col-12 align-self-end">
                    <div class="widget_read_toggle">
                      <a href="#">
                        Read Report
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-4">
            <div class="row">
              <div class="col-6">
                <div class="widget_photo">
                  <img src="https://via.placeholder.com/201x180?text=Text" alt="">
                </div>
              </div>
              <div class="col">
                <div class="row h-100">
                  <div class="col-12">
                    <div class="d-flex align-items-start">
                      <div class="widget_content">
                        <div class="category_report">
                          Report
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-flex align-items-center">
                      <div class="widget_content_title">
                        Explore Intagram Video: How to convert, engage, and get more Intagra...
                      </div>
                    </div>
                  </div>
                  <div class="col-12 align-self-end">
                    <div class="widget_read_toggle">
                      <a href="#">
                        Read Report
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

