<section class="container-fluid">
  <div class="container_update  newlistiner_section">
    <div class="row subscribe p-5">
      <div class="col-lg-6 d-none d-lg-block">
        <div class="newlistener_title">
          {{title}}
        </div>
        <div class="newlistiner_subtitle">
          {{subtitle}}
          <a href="">
            {{linkText}}
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-12 px-5">
        <div class="newlistiner_form_email">
          <form class="form">
            <div class="input-group">
              <input type="text"
                     placeholder="Enter work email"
                     class="form-control rounded"

                     [ngClass]="{newlistiner_input: theme === 'theme'}">
              <div class="input-group-append">
                <button type="submit" class="btn btn_newlistener">
                  {{btnText}}
                </button>
              </div>
            </div>
          </form>
          <div [ngClass]="{newlistiner_subtitle_input: theme === 'theme', none: theme === 'none'}">
            <span><i class="fas fa-bolt"></i> 6145 people</span> are reading this newsletter every week
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
