<section class="container mt-5">
  <div class="row pt-5">
    <div class="col-12">
      <div class="resources_title">
        Popular Resources
      </div>
    </div>
    <div class="col-lg-7 col-12">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/191x180?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row h-100">
                <div class="col-12">
                  <div class="widget_start">
                    <div class="widget_content">
                      <div class="category_blog">
                        Blog Post
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="widget_center">
                    <div class="widget_content_title">
                      Micro-influencers and B2C brand videos: A match made in heaven
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_end">
                    <div class="widget_read_toggle">
                      <a href="#">
                        Read Story
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/191x180?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row h-100">
                <div class="col-12">
                  <div class="widget_start">
                    <div class="widget_content">
                      <div class="category_webinar">
                        Webinar
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="widget_center">
                    <div class="widget_content_title">
                      Webinar: Improving content marketing through visual storytelling
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_end">
                    <div class="widget_read_toggle">
                      <a href="#">
                        Watch Webinar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 mt-4">
          <div class="row">
            <div class="col-md-4 col-12">
              <div class="widget_photo">
                <img src="https://via.placeholder.com/191x180?text=Text" width="100%" alt="">
              </div>
            </div>
            <div class="col">
              <div class="row h-100">
                <div class="col-12">
                  <div class="widget_start">
                    <div class="widget_content">
                      <div class="category_report">
                        Report
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="widget_center">
                    <div class="widget_content_title">
                      How to reach audiences with social video: From Millennials to Gen Z
                    </div>
                  </div>
                </div>
                <div class="col-12 align-self-end">
                  <div class="widget_end">
                    <div class="widget_read_toggle">
                      <a href="#">
                        Read Report
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-5 d-none d-lg-block">
      <div class="right_section">
        <div class="row h-100">
          <div class="col-12 align-self-center">
            <div class="right_section_child">
              <div class="right_section_title">
                Storyteller Circle Event Series
              </div>
              <div class="widget_read_toggle">
                <a href="#">
                  Watch Webinar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
